// Screen width
$desktop-up: " (min-width: 1350px)";
$desktop: " (max-width: 1350px)";
$tablet: " (max-width: 1024px)";
$mobile: " (max-width: 767px)";
$mobile-mini: " (max-width: 375px)";

@mixin mobile {
  @media ($mobile) {
    @content;
  }
}
@mixin tablet {
  @media ($tablet) {
    @content;
  }
}

@mixin desktop {
  @media ($desktop) {
    @content;
  }
}
@mixin tv {
  @media ($desktop-up) {
    @content;
  }
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
  width: map-get($columns, $numberColumns) -
    (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}
